html, body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #111;
  color: white;
}

* {
  box-sizing: border-box;
}

input, select, button {
  font-family: inherit;
}
